[MESSAGES CONTROL]
disable=C0103,C0301,R0201,R0801,R0902,R0903,R0904,R0913,W0232,W0511,W0621

[REPORTS]
output-format=colorized
reports=y
include-ids=yes
msg-template='{msg_id}:{line:3d},{column}: {obj}: {msg}'
